* {
    font-family: 'inter', sans-serif;
}
body{
    background: url(../images/background.png) no-repeat top center;
    background-size: cover;
    height: 100vh;

}
img{
    display: none;
    width: 300px;
    height: auto;
}

button {
    padding: 12px 24px;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: #007BFF;
    color: white;
    cursor: progress;
    transition: background-color 0.3s ease;

}


p {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 40vh;
}