* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.wrapper {
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

main {
    margin-top: 270px;
    color: blue;

    display: grid;
    grid-template-columns: 50px 1fr 1fr 50px;
    gap: 20px;

    align-items: start;
}

body {
    background-color: #253f4b;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 270px;
  background: darkblue;
}

#lina {
    position: fixed;
    width: 100px;
    height: auto;

    left: 30px;
    top: 10px;
    
    z-index: 1000;

    border-radius: 50px;
}

#house {
    position: absolute;
    top: 0;
    left: 0;
    width: 300px;
    height: auto;

    margin-left: 150px;
    margin-top: 10px;

    box-sizing: border-box;
    border-radius: 20px;

    z-index: 1;
}

.housefooter {
    position: absolute;
    color: darkblue;
    margin-left: 170px;
    margin-top: 25px;
    z-index: 2;
    font-size: 12px;
}

.box {
    width: auto;
    height: auto;
    border: 3px solid darkblue;
    background: lightblue;
    margin-bottom: 20px;
    padding: 24px;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: justify;
}

.box.one {
    grid-column: 2 / 3;
    box-sizing: border-box;
}

.box.two {
    grid-column: 3 / 4;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 3rem;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: left;
}

hr.middle-line {
    border: none;
    height: 1px;
    background-color: lightblue;
    margin: 20px 0px;
}

footer {
  color: lightblue;
  text-align: center;
  font-size: 12px;
}


