.button {
    width: 200px;
    height: 80px;
    background-color: red;
    color: white;
    font-size: 24px;
    text-align: center;
    line-height: 80px;
    /* transition */
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: blue;
}
